pkgbase = phpunit-doc-git
	pkgdesc = Documentation for PHPUnit
	pkgver = r2211.aa08446a
	pkgrel = 1
	url = https://phpunit.readthedocs.io
	arch = any
	license = CCPL
	makedepends = python-sphinx
	makedepends = python-readthedocs-sphinx-theme
	makedepends = make
	options = !strip
	source = phpunit-doc-git::git+https://github.com/sebastianbergmann/phpunit-documentation-english
	sha256sums = SKIP

pkgname = phpunit-doc-git

